{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <form action="" method="POST" class=form role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.query.label(class='control-label') }}
            {{ form.query(class='form-control', maxlength=20) }}
        </div>
        <p>
            <b>Sugesto 1: </b>
            Rimaro serĉas tra la Reta Vortaro nur la radikojn, do forlasu la lastan vokalon.
            Ekz: se vi volas trovi la rimojn de "saluton", tajpu nur "salut". 
            <br>
            <b>Sugesto 2: </b>tajpu laŭ x-sistemo, aŭ uzu verajn supersignojn.
        </p>
        {{ form.submit(class='btn btn-primary') }}
    </form>
    <br>   
    {% if results|length == 0 and method == 'POST' %}

        <dl class="errors">
            <dt>Ho, baf!</dt>
            <dd>Neniu traf'. Provu per alia paf'!</dd>
        </dl>

    {% endif %}

    {% for result in results %}
        <h2>{{ result.matchString }}</h2>
        <br>
        {% for match in result.wordLinks %}
        <div>
            <p>
                <a href="{{ match[1] }}">{{ match[0] }}</a>
            </p>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script> 
    queryBox = document.getElementById('query')

    const replaceChars = function(e) {
        newVal = e.target.value.toLowerCase()
        newVal = newVal.replace('gx', 'ĝ');    
        newVal = newVal.replace('cx', 'ĉ'); 
        newVal = newVal.replace('sx', 'ŝ'); 
        newVal = newVal.replace('hx', 'ĥ'); 
        newVal = newVal.replace('jx', 'ĵ'); 
        newVal = newVal.replace('ux', 'ŭ'); 
        e.target.value = newVal;
    }

    queryBox.addEventListener('input', replaceChars);
    queryBox.addEventListener('propertychange', replaceChars);
</script>
{% endblock %}