{% extends "base.html" %}

{% block app_content %}
    <h2>Pri Rimaro</h2>
    <br>
    <h4>Kio estas Rimaro?</h4>
    <p>
        Rimaro estas utilaĵo por trovi rimojn en Esperanto. Ĝi estas esence inversa vortaro.
    </p>
    <br>

    <h4>Kio estas la fonto de la vortoj?</h4>
    <p>
        Ĉiu vorto en Rimaro troviĝas en la <a href='http://www.reta-vortaro.de/revo/'>Reta Vortaro</a>.
    </p>
    <br>
    
    <h4>Kiu faris Rimaron?</h4>
    <p>
        Rimaron kreis Ŝep. La tuta kodbazo de Rimaro estas malfermitkoda laŭ la GNUa Ĝenerala Publika Permesilo v3 sur <a href='https://github.com/theshepster/rimaro'>Github</a>.
    </p>
    <br>

{% endblock %}