{% extends "base.html" %}

{% block app_content %}
    <h2>Ŝanĝlisto</h2>
    <br>

    <h4>v0.4, 30 majo 2020</h4>
    <p>
        Kiam la opcio "serĉi radikojn" estas elektita, 
        la radikoj aperas en la listo sen siaj finaĵoj.
        <br>
        Plia opcio nun ebligas la prifajfadon de la lasta vokalo de la serĉvorto.
    </p>
    <br>

    <h4>v0.3, 17 majo 2020</h4>
    <p>
        "Rimoj" ne plu aperas kiam ne estas vokalo. Antaŭe, Rimaro montris "rimojn" kiam la 
        serĉvorto nur havis konsonantojn.
    </p>
    <br>

    <h4>v0.2, 12 majo 2020</h4>
    <p>
        Oni povas nun serĉi unusilabajn rimojn.
    </p>
    <br>

    <h4>v0.1, 10 majo 2020</h4>
    <p>
        Rimaro vivas!
    </p>
    <br>

{% endblock %}